body {
    background-color: aqua;
    font-family: 'Oswald', sans-serif;
    /* overflow: hidden; */
}

.index {
    height: 100vh;
}

.masthead {
    color: white;
    min-height: 30rem;
    height: 100vh;
    padding-top: 8rem;
    background: url('/img/background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead h1 {
        font-size: 5.5rem;
    }
}

.card {
    box-shadow: 6px 6px 6px gray;
}
